<div class="container">
    <div class="row">
        <div class="col text-center abs-center text-white bg-black">
            <h2>Searching for titles starting with "{{q}}"</h2>
        </div>
        <div class="col justify-content-end">
            <form action="{{root}}" method="GET">
                <button class="s-holder border col" type="submit">Home</button>
            </form>      
        </div>
    </div>
</div>
<div class="container">
    {{#if titlesData}}
        {{#each titlesData}}
            <div class="row">
                <a class="text-left s-holder border col text-lg" href="{{../root}}/detailed/{{book_id}}">{{title}}</a>
            </div>
        {{/each}}
    {{else}}
        <div class="col text-center abs-center text-white bg-black mt-3">
            <h3>No books found for titles starting with "{{q}}"</h3>
        </div>
    {{/if}}
</div>
<div class="container">
    <form action="{{root}}/search" method="GET">
        <input type="hidden" name="q" value="{{q}}">
        {{#if checkZero}}
        <button class="s-holder border col" type="submit" name="offset" value="{{prevOffset}}">Prev</button>
        {{/if}}
        {{#if checkMax}}
        <button class="s-holder border col" type="submit" name="offset" value="{{nextOffset}}">Next</button>
        {{/if}}
    </form>
</div>